# **TP3 - Data Preprocessing**

<b>Exploratory Data Analysis & Unsuperivsed Learning </b><br>
**Course: PHAUK Sokkey, PhD** <br> 
**TP: HAS Sothea, PhD**

-------

**Objective**: Preprocessing is important in data related tasks. In this TP, you will explore different challanges you may encounted during when performing data preprocessing. We will discuss reasonable solution to these challanges.

---------

> **The `Jupyter Notebook` for this TP can be downloaded here: [TP3-Data-Preprocessing](https://hassothea.github.io/EDA_ITC/TPs/TP3_Data_Preprocessing.ipynb)**.

-------

## 1. Missing Data

We will begin with missing data which are very common within real-world datasets. One common question about missing values is "Should we remove them"? We will delve into possible proper solution to this problem.

We will work with `Enfants` dataset available here: [Enfants dataset](https://github.com/hassothea/EDA_ITC/blob/main/data/Enfants.txt).

**a.** Import this data and name it `data`.

In [7]:
import pandas as pd
import numpy as np
data = pd.read_table("D:/Sothea_PC/Teaching_ITC/EDA\data/Enfants.txt", sep="\t")
data.head(5)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\hasso\AppData\Local\Temp\ipykernel_18808\610560642.py:3: SyntaxWarning: invalid escape sequence '\d'
  data = pd.read_table("D:/Sothea_PC/Teaching_ITC/EDA\data/Enfants.txt", sep="\t")

  GENRE  AGE  TAILLE  MASSE
0     F   68       0     20
1     M   74     116     18
2     M   69     120     23
3     M   72     121     25
4     M   73     114     17

**b.** Compute statistical values and visualize the distribution of each variable.

- Stastistics

In [8]:
# To do

- Visualization

In [9]:
# To do

**c.** Did you find anything strange in the previous graphs?

> Your response:

**d.** Create new data called `data_NoNA` by replacing all missing values with `np.nan`.  Remove all the rows containing missing values. 
- Repeat point **(b)** on `data_NoNA` data.
- Compare the distribution of these variables before and after removing missing values.

In [10]:
# TO do

In [11]:
# To do

- What do you observe?

> Your response:

- What's the mechanism/type of these missing values?

> Your response:

**e.** Do you spot any outliers in this dataset? 

> Your response:

## 2. Outliers & high leverage data

In an unsupervised framework, outliers are data points that significantly deviate from the majority of observations. In a supervised framework, inputs with extreme values (but not their target) are known as high leverage points. Both outliers and high leverage points may obscure (but not always) the true underlying patterns in the data, often complicating analysis and leading to potential inaccuracies. We will start hunting outliers and high leverage points using [`Abalone` dataset](https://www.kaggle.com/datasets/rodolfomendes/abalone-dataset).

**a.** Download and import the dataset.

In [12]:
# To do

**b.** Compute and visualize the correaltion matrix. Provide your first impression on the correlation matrix.

In [13]:
# To do

**c.** Study the relation between `Type` and the most interesting variable (target) `Rings`.

In [14]:
# To do

**d.** Insepct outliers and high leverage data points (considering `Rings` as the target) in the dataset. You might be interested in the following interesting lessons from STAT 501:
- [Using Leverages to Help Identify Extreme x Values, STAT 501](https://online.stat.psu.edu/stat501/lesson/11/11.2)
- [Identifying Outliers (Unusual y Values), STAT 501](https://online.stat.psu.edu/stat501/lesson/11/11.3)

In [15]:
# To do

**e.** Once again, study the correlation matrix of the data after removing outliers and high leverage data points. Conclude.

In [16]:
# To do

# Further Readings

- [Outliers & high leverage observations](https://online.stat.psu.edu/stat501/lesson/11/11.1#:~:text=A%20data%20point%20has%20high,is%20particularly%20high%20or%20low.)
- [Using Leverages to Help Identify Extreme x Values, STAT 501](https://online.stat.psu.edu/stat501/lesson/11/11.2)
- [Identifying Outliers (Unusual y Values), STAT 501](https://online.stat.psu.edu/stat501/lesson/11/11.3)
- [Missing data: types, explanation, Imputation](https://www.scribbr.com/statistics/missing-data/)
- [Kaggle: Abalone dataset](https://www.kaggle.com/datasets/rodolfomendes/abalone-dataset)
- [Chapet 3, section 3.3.3 of The Introduction to Statistical Learning](https://www.stat.berkeley.edu/~rabbee/s154/ISLR_First_Printing.pdf)